<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline">Welcome to the Goldwater Project Water Tracking Site</h1>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <hr>

    <div class="row">
        <div class="col-sm-8">
            <h2>What We Do</h2>
            <p>The Goldwater Project for Region H is an undertaking by the Texas Water Foundation’s Carole Baker and Kip Averitt of Averitt & Associates. The Project quantifies and measures ongoing water conservation efforts within the 15-county Region H area. </p>
            <p>Participating water suppliers will receive reports that detail the cost and benefits of each of their water conservation strategies. The results of each water supplier’s report will be accumulated into one large report which will demonstrate the progress of Region H towards the conservation goal as set out in the Region H Water Plan. Our intent is to recruit enough water suppliers to account for at least 80% of the municipal water consumption in Region H.</p>
<!--            <p>
                <a class="btn btn-default btn-lg" href="#">Call to Action &raquo;</a>
            </p> -->
        </div>
        <div class="col-sm-4">
            <h2>Contact Us</h2>
            <address>
                <strong>Averitt & Assocates</strong>
                <br>1234 Any St.
                <br>Austin, TX 12345
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>(512) 555-1212
                <br>
                <abbr title="Email">E:</abbr> <a href="mailto:#">aaron@buildit.io</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Goldwater Mission</h2>
            <p>To equip regional, area, and local water planners with quantitative results of the effectiveness of their past and potential conservation efforts to meet crucial supply markers set out in the Texas State Water Plan</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Goldwater Results</h2>
            <p>The result of the Goldwater Project will be a clear picture of where the Region stands in accomplishing its conservation goals and an avenue to carry out comprehensive efforts that make meeting the State Water Plan’s goals a reality.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Goldwater Tracker</h2>
            <p>The Water Conservation Tracking Tool utilizes data inputs that include system demands, avoided costs, and water conservation activities.  It enables users to identify cost-effective programs, water savings potential, the impact to the utility’s revenue requirement, and energy cost reductions.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Averitt & Associates 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
